body
{
    margin:30;
    padding:0;
    overflow: auto;
    z-index: 15;
    transform: scale(x);

}



.top-bar
{
    z-index: 2;
    position: sticky;
    background-color : rgba( 230, 230, 230, 1);
    top: 0;
}

.logo
{
    height: auto;
    width: 100px;
    top: 10px;
    left: 50px;
}

.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,102,203, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.custom-toggler.navbar-toggler {
  border-color: rgb(255,102,203);
}

.head-block
{
    display: inline-block;
    width: 100%;
    height: auto;
    justify-content: left;
    padding-top : 30px;
    padding-bottom : 30px;
    font-family: 'BioRhyme', serif;
    background: url('/static/images/background.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;

}

@media screen and (min-width: 400px) {
  .head-block {
        padding-top : 50px;
        padding-bottom : 50px;
  }
}

@media screen and (min-width: 600px) {
  .head-block {
        padding-top : 75px;
        padding-bottom : 75px;
  }
}

@media screen and (min-width: 800px) {
  .head-block {
        padding-top : 100px;
        padding-bottom : 100px;
  }
}

@media screen and (min-width: 1000px) {
  .head-block {
        padding-top : 125px;
        padding-bottom : 125px;
  }
}

@media screen and (min-width: 1200px) {
  .head-block {
        padding-top : 150px;
        padding-bottom : 150px;
  }
}

@media screen and (min-width: 1500px) {
  .head-block {
        padding-top : 180px;
        padding-bottom : 180px;
  }
}

@media screen and (min-width: 1800px) {
  .head-block {
        padding-top : 200px;
        padding-bottom : 200px;
  }
}

.bg
{
    width: 100%;
    height: auto;
}

.head-block2
{
    display: flex;
    width: 100%;
    height: auto;
    font-family: 'BioRhyme', serif;
    background: url('/static/images/background2.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;

}

.head-block3
{
    display: flex;
    width: 100%;
    height: auto;
    font-family: 'BioRhyme', serif;
    background: url('/static/images/background3.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;

}

.head-text
{
    font-size: 10px;
    line-height : 20px;
}

@media screen and (min-width: 400px) {
  .head-text {
        font-size: 12px;
        line-height : 24px;
  }
}

@media screen and (min-width: 600px) {
  .head-text {
        font-size: 15px;
        line-height : 27px;
  }
}

@media screen and (min-width: 800px) {
  .head-text {
        font-size: 20px;
        line-height : 30px;
  }
}

@media screen and (min-width: 1000px) {
  .head-text {
        font-size: 25px;
        line-height : 35px;
  }
}

@media screen and (min-width: 1200px) {
  .head-text {
        font-size: 30px;
        line-height : 40px;
  }
}

@media screen and (min-width: 1500px) {
  .head-text {
        font-size: 35px;
        line-height : 45px;
  }
}

@media screen and (min-width: 1800px) {
  .head-text {
        font-size: 40px;
        line-height : 50px;
  }
}


.h-rl
{
    display: inline-block;
    flex: 1;
}


.flexbox
{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.text-line
{
    text-align: center;
    font-size: 7px;
    color:white;
    line-height : 10px;
}

@media screen and (min-width: 400px) {
  .text-line {
        font-size: 10px;
        line-height : 12px;
  }
}

@media screen and (min-width: 600px) {
  .text-line {
        font-size: 12px;
        line-height : 15px;
  }
}
@media screen and (min-width: 800px) {
  .text-line {
        font-size: 15px;
        line-height : 17px;
  }
}

@media screen and (min-width: 1000px) {
  .text-line {
        font-size: 18px;
        line-height : 21px;
  }
}

@media screen and (min-width: 1200px) {
  .text-line {
        font-size: 21px;
        line-height : 25px;
  }
}

@media screen and (min-width: 1500px) {
  .text-line {
        font-size: 25px;
        line-height : 28px;
  }
}

@media screen and (min-width: 1800px) {
  .text-line {
        font-size: 28px;
        line-height : 32px;
  }
}


.text-block
{
    position: relative;
    display: flex;
    right: 0;
    width: 50%;
    height: auto;
}

.block
{
    display: flex;
    width: 100%;
    height: auto;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 50px;
}


.bar
{
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
}

.box
{
    display: inline-block;
    vertical-align: top;
    text-align: center;
    padding: 2vw;
}

.circle
{
    width : 8vw;
    height: auto;
    border: 5px solid #1C6EA4;
    border-radius: 50%;
    margin: auto;

}

.final-bar
{
    width: 100%;
    height: 100px;
    background-color: rgba( 130, 130, 130, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;

}

.about-header
{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    padding-top: 50px;
}

.ab
{
    width: 30vw;
    height:auto;
}

@media screen and (min-width: 800px) {
  .ab {
        width: 250px;
  }
}

@media screen and (min-width: 1000px) {
  .ab {
        width: 275px;
  }
}

@media screen and (min-width: 1200px) {
  .ab {
        width: 300px;
  }
}

.info
{

    width: 60%;
    height: auto;
    padding-left: 20% ;
    overflow: auto;
}

.myVideo {
  position: relative;
  bottom: 0;
  width: 100%;
  height: auto;
  z-index: -1;
}
